* {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Didact Gothic', sans-serif;
    scroll-behavior: smooth;

    max-width: 100vw;
    overflow-x: hidden;
}


/* -----------HEAD-SECTION--------------- */
.subhead {
    padding: 1em 0;
    font-size: 3rem;

    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-top: 100px;

    display: flex;
    justify-content: center;
}


/* -----------PRODUCT-SECTION--------------- */
.container__products {
    width: 100%;
    padding: 2em;
    margin: auto;
}

.product {
    width: 100%;
    padding: 20em;

    display: grid;
    grid-template-columns: 80px auto max-content;

    border-bottom: 1px solid rgb(221, 221, 221);
}

.product__img {
    width: 100%
}

.product__text {
    max-width: 300px;
    padding-left: 20em;

    display: flex;
    flex-direction: column;
}

.product__name {
    padding-bottom: 0.5em;
    font-size: 1.6rem;
}

.product__description {
    font-size: 1.2rem;
    opacity: 50%;

    display: none;
}

.product__price {
    margin-top: .5em;
    margin-bottom: auto;
    font-size: 1.2rem;
}

.container__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.product__delete-btn {
    width: max-content;
    border: none;

    display: flex;

    font-size: 3rem;
    background-color: transparent;
    cursor: pointer;
}

.delete-icon {
    pointer-events: none;
}

.product__delete-btn:hover, 
.product__delete-btn:focus {
    color: rgb(159, 238, 13);
}

.product__total {
    font-size: 1.6rem;
    display: none;
}


/* -----------CONTINUE-SHOPPING--------------- */
.continue-link {
    width: 90vw;
    margin: 10em auto;

    text-decoration: none;
    color: black;
    
    display: block;
}

.continue-link:hover {
    color: rgb(159, 238, 13);
}

.continue-link__p {
    font-size: 1.8rem;
    display: inline;
}

.continue-link__icon {
    margin-right: .5em;
    font-size: 1.8rem;

    position: relative;
    bottom: -.1em;
}

/* -----------TOTAL-SECTION--------------- */
.total__container {
    width: 80vw;
    padding: 10em;
    margin: 60px auto;

    text-align: center;
}

.total__container p {
    font-size: 4rem;
}

.total__btn {
    max-width: 400px;
    width: 50vw;
    padding: 1em;
    margin-top: 1em;
    border: 3px solid black;

    font-size: 2rem;

    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: 'Righteous', sans-serif;

    cursor: pointer;
    transition: .2s;
}

.total__btn:hover, 
.total__btn:focus {
    background-color: black;
    color: white;
}

/* --------------MEDIA QUEREYS-------------- */

@media screen and (min-width: 750px) {
    .container__products,
    .continue-link {
        width: 80vw;
    }

    .product {
        grid-template-columns: 120px auto max-content;
    }

    .product__description {
        display: block;
    }

    .product__total {
        display: block;
    }
}