
* {

}


.checkout__container {
    width: 80vw;
    height: 80vh;
    margin: auto;
    padding: 10em;

    display: flex;
    justify-content: space-between;

    background-color: rgba(137, 43, 226, 0.295);
}

.container__products {
    width: 500px;

    background-color: rgb(139, 80, 80);
}

.container__price {
    width: 500px;

    background-color: rgb(192, 53, 53);
}
