
/* HEAD */
.shopping-cart-p {
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);

    display: flex;
    justify-content: center;
}

.shopping-cart-p p {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 4rem;
}


/* ITEMS */
.checkout__container {
    width: 80vw;
    height: auto;
    margin: auto;
    padding: 10em;

    display: flex;
    justify-content: space-between;

    /* border: 1px solid black; */
}

.container__products {
    width: 100%;
    padding: 2em;
}

.checkout-item {
    width: 100%;
    padding: 40px;

    display: grid;
    grid-template-columns: 120px 40vw auto 30px;

    border-bottom: 1px solid rgb(221, 221, 221);
}

.checkout-item__container {
    display: flex;
}
.checkout-item__img {
    width: 100%
}

.text-container {
    width: 300px;
    padding-left: 20px;
}

.checkout-item__product {
    padding-bottom: 0.5em;
}

.checkout-item__description {
    font-size: 1.6rem;
    opacity: 50%;
}

.checkout-item__price {
    margin: auto;
}

.checkout-item__product, .checkout-item__price {
    font-size: 2rem;
}

.delete-btn {
    width: 40px;
    height: auto;
    margin: auto;
    padding-bottom: 15px;

    border: none;

    font-size: 7rem;
    background-color: white;
    cursor: pointer;
    z-index: 1000;

    transform: rotate(45deg);
}

.delete-btn:hover {
    color: rgb(159, 238, 13);
}

.delete-btn:focus {
    outline: none;
}


/* CONTINUE SHOPPING */
.continue__container {
    width: 80vw;
    margin: auto;
    padding-left: 10em;
}

.continue-shopping__link {
    margin-top: 10em;

    text-decoration: none;
    color: black;
    
    display: block;
}


.continue-shopping__p {
    font-size: 2rem;
}

.continue-shopping__p span img {
    width: 20px;
    margin-right: 10px;
    transform: translate(-45deg);
    
}

/* TOTAL */
.total__container {
    width: 80vw;
    padding: 10em;
    margin: auto;

    margin-bottom: 100px;
    text-align: center;
}

.total__container p, .total__container span {
    font-size: 5rem;
}

.total__btn {
    width: 400px;
    padding: 1em;
    margin-top: 1em;
    border: 3px solid black;

    font-size: 2rem;

    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: 'Righteous', sans-serif;

    cursor: pointer;
    transition: .2s;
}

.total__btn:hover {
    background-color: black;
    color: white;
}


