* {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Didact Gothic', sans-serif;
    scroll-behavior: smooth;

    max-width: 100vw;
    overflow-x: hidden;
}

.footer {
    height: 150px;
    padding: 30px;
    background-color: blue;

    display: flex;
    align-items: center;

    background-color: black;
}

.footer__logo {
    color: white;

    cursor: pointer; 
    text-decoration: none;
}

.footer__logo p {
    padding-right: .5em;
    font-size: 3.5rem;
    font-family: 'Righteous';
}


.footer__contact p, 
.email {
    color: white;
    font-size: 1.2rem;
}

.email {
    padding-top: 1em;
    display: block;
    cursor: pointer;
}

.footer__logo:hover,
.email:hover {
    color: rgb(159, 238, 13);
}

@media screen and (min-width: 700px) {

    .footer {
        height: 200px;
    }

    .footer__logo p {
        font-size: 4.5rem;
    }

    .footer__contact p,
    .email {
        font-size: 1.4rem;
    }
}



