.footer {
    min-height: 200px;
    padding: 30px;
    background-color: blue;

    display: flex;
    align-items: center;

    background-color: black;
}

.footer__logo {
    color: white;

    cursor: pointer; 
    text-decoration: none;
}

.footer__logo p {
    font-size: 4.5rem;
    font-family: 'Righteous';
}

.footer__contact {
    padding-left: 1em;

    font-size: 2.5rem;
    color: white;
}

.email {
    padding-top: 1em;
    display: block;
    cursor: pointer;
}

.footer__logo:hover,
.email:hover {
    color: rgb(159, 238, 13);
}



