* {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Dosis', sans-serif;
    scroll-behavior: smooth;

    max-width: 100vw;
    overflow-x: hidden;
}

.grid {
    padding: 20em;
    width: 100vw;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-necklaces {
    padding-top: 0;
}

.grid-item {
    height: auto;
    background-color: rgba(211, 211, 211, 0.445);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.5s;
}

.grid-item:hover {
    /* transform: scale(1.05); */
}

.grid-item__product {
    font-size: 1.8rem;
    padding-top: 1em;
}

.grid-item__price {
    font-size: 1.5rem;
    padding: 0.5em;
}

.grid-item__img {
    max-width: 100%;
    object-fit: contain;
}

.grid-item__btn {
    display: block;
    margin-bottom: 1em;
    font-size: 1.8rem;
    font-family: 'Righteous', sans-serif;

    background-color: transparent;
    border: none;
    cursor: pointer;

}

.grid-item__btn:focus {
    outline: none;
}

.grid-item__btn:hover {
    border-bottom: 2px solid black;
}