* {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Didact Gothic', sans-serif;
    scroll-behavior: smooth;

    max-width: 100vw;
    overflow-x: hidden;
}

.grid-container {
    position: relative;
}

.grid {
    /* ändrat */
    width: 100vw;
    margin: 100px auto;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.grid-item {
    height: auto;
    margin-bottom: 5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    transition: 1s;
    opacity: 0;
    transform: translateY(20px);
}

.grid-item--visible {
    opacity: 1;
    transform: translateY(0);
}

.item-container {
    display: flex;
    flex-direction: row;
    padding-top: 10em;
}

.grid-item__product {
    font-size: 1.6rem;

}

.grid-item__img {
    max-height: 800px;
    max-width: 100%;
    object-fit: contain;
}

.grid-item__btn {
    display: block;
    padding-left: .2em;

    font-size: 1.6rem;
    font-family: 'Righteous', sans-serif;

    background-color: transparent;
    border: none;
    cursor: pointer;
}


.grid-item__btn:hover, 
.grid-item__btn:focus {
    color: rgb(159, 238, 13);
    outline: none;
}

.description-overlay {
    background-color: rgb(30, 37, 30);
    width: 100px;
    height: 100px;

    position: relative;
    top: 0;  
}

/* ------------MEDIA QUEREYS------------ */


@media screen and (min-width: 700px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15em;
    }
}

@media screen and (min-width: 1000px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-item__product,
    .grid-item__btn {
        font-size: 1.4rem;
    }
}