* {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Dosis', sans-serif;
    scroll-behavior: smooth;
}



.header {
    width: 100vw;
    height: 200px;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    z-index: 10;

    position: relative;
}

.header__item {
    height: 100%;
    padding: 3em;
    background-color: antiquewhite;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
}

.h-logo {
    font-size: 12rem;
    padding: 0;
    
    background-color: transparent;
}

.h-logo p {
    font-family: 'Righteous', sans-serif;
}

.search__input {
    width: 25rem;
    border: none;
    border-bottom: 1px solid black;

    background-color: transparent;
    font-size: 3rem;
}

.search__input:focus {
    outline: none;
}

.search__submit {
    background-color: transparent;
    border: none;
}

.search__submit i {
    font-size: 2rem;
}


.fa-shopping-cart {
    padding: .5em;

    color: white;
    font-size: 2rem;
    background-color: rgb(41, 41, 100);
    border-radius: 50%;
}

/* MENU */

.menu-span {
    font-size: 3rem;
    font-family: 'Righteous';
}

.menu-toggler {
    width: 100vw;
    height: 80px;
    padding: 0.5em;
    border-top: .2px solid rgb(226, 226, 226);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 0;
    z-index: 3;

    background-color: white;
    box-shadow: 0px 1px 10px 2px rgb(161, 161, 161);
}

.menu-btn {
    background-color: white;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    letter-spacing: 0.5rem;

}

.menu-btn:focus {
    outline: none;
}

.menu {
    width: 100vw;
    padding: 3rem;
    box-shadow: 0px 1px 10px 2px rgb(161, 161, 161);

    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center; 

    transition: 1s;

    z-index: 1;

    position: relative;
    top: -200px;
}


.menu__item {
    transition: ease 0.5s;
}

.menu__link {
    display: block;
    font-size: 2rem;
    padding: 0.5em;
    color: black;
    text-decoration: none;
}

.menu__link:hover {
    transition: 0.5s;
    color: lightgray;
}


