.quantity {
    width: max-content;

    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.quantity__output {
    width: 10px;
    padding: .4em 0;

    font-size: 1.2rem;
    text-align: center;
}

.quantity__btn {
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}